---
import DownloadButton from '../button/DownloadButton.jsx'
---

<section class="bg-gradient-to-r from-indigo-500 to-indigo-700">
  <div class="mx-auto max-w-sm sm:max-w-xl md:max-w-6xl px-3 xl:px-0 pt-16 pb-16 grid md:grid-cols-2">
    <div class="text-white text-center md:text-left">
      <h3 class="text-2xl font-bold">Download Audacity free today</h3>
      <p class="text-lg">City of Auda, popualation: you.</p>
    </div>
    <div class="flex items-center justify-center flex-col mt-8 md:mt-0 sm:flex-row sm:space-x-4 lg-space-8 space-y-4 sm:space-y-0">
      <DownloadButton client:load />
      <a href="/downloads" class="flex items-center h-12 px-4 rounded whitespace-nowrap text-gray-100 border border-white hover:bg-white/25 hover:text-white">View download options</a>
    </div>
  </div>
</section>
