---
import DownloadButton from "../button/DownloadButton.jsx";
import DownloadMuseHubButton from "../button/DownloadMuseHubButton";
---

<section class="bg-gray-100 pt-10 pb-12">
  <div class="max-w-screen md:max-w-screen-lg mx-6 lg:mx-auto text-center">
    <h2>Audacity is free, forever</h2>
    <div class="flex flex-col sm:flex-row gap-4 mt-4 justify-center">
      <DownloadButton client:visible />
      <DownloadMuseHubButton client:visible />
    </div>
  </div>
</section>
