---
import { useTranslations } from "../../i18n";
const t = useTranslations(Astro.currentLocale);
---

<section class="py-12 bg-background-medium">
  <div class="max-w-screen-xl mx-auto grid grid-cols-12 gap-y-4">
    <div class="col-start-2 col-span-10 lg:col-start-2 lg:col-span-3">
      <h2
        class="text-20 lg:text-32 text-text-primary font-semibold leading-tight"
      >
        {t("faq.title")}
      </h2>
    </div>
    <div
      class="col-start-2 col-span-10 lg:col-start-6 lg:col-span-6 flex flex-col gap-y-8 mt-4 lg:mt-0"
    >
      <div class="flex flex-col gap-1 md:gap-2">
        <p class="faq-question">{t("faq.q1")}</p>
        <p class="text-16 text-text-primary leading-snug">{t("faq.a1")}</p>
      </div>
      <div class="flex flex-col gap-1 md:gap-2">
        <p class="faq-question">{t("faq.q2")}</p>
        <p class="text-16 text-text-primary leading-snug">{t("faq.a2")}</p>
      </div>
      <div class="flex flex-col gap-1 md:gap-2">
        <p class="faq-question">{t("faq.q3")}</p>
        <p class="text-16 text-text-primary leading-snug">{t("faq.a3")}</p>
      </div>
      <div class="flex flex-col gap-1 md:gap-2">
        <p class="faq-question">{t("faq.q4")}</p>
        <p class="text-16 text-text-primary leading-snug">{t("faq.a4")}</p>
      </div>
    </div>
  </div>
</section>
