<section class="py-12">
  <div class="max-w-screen-xl mx-auto grid grid-cols-12 gap-y-4">
    <div class="col-start-2 col-span-10 lg:col-start-2 lg:col-span-3">
      <h2 class="text-20 lg:text-32 text-text-primary font-semibold leading-tight">
        Popular in the <a class="hyperlink" href="/FAQ">FAQ</a>
      </h2>
    </div>
    <div
      class="col-start-2 col-span-10 lg:col-start-6 lg:col-span-6 flex flex-col gap-y-8 mt-4 lg:mt-0"
    >
      <div class="flex flex-col gap-1 md:gap-2">
        <p class="faq-question">What is Audacity?</p>
        <p class="text-16 text-text-primary leading-snug">
          Audacity is the world's most popular free software for recording and
          editing audio. So if you're producing music, a podcast, or just
          playing around with audio, Audacity is for you.
        </p>
      </div>
      <div class="flex flex-col gap-1 md:gap-2">
        <p class="faq-question">Who is Audacity for?</p>
        <p class="text-16 text-text-primary leading-snug">
          Audacity is for anyone who wants to get creative with sound. It's also
          the perfect tool for anyone who needs to quickly edit or export audio,
          for any reason.
        </p>
      </div>
      <div class="flex flex-col gap-1 md:gap-2">
        <p class="faq-question">Is Audacity free?</p>
        <p class="text-16 text-text-primary leading-snug">
          Yes! Audacity has always been and will always remain free for
          everyone.
        </p>
      </div>
      <div class="flex flex-col gap-1 md:gap-2">
        <p class="faq-question">Is Audacity open source?</p>
        <p class="text-16 text-text-primary leading-snug">
          Audacity is proudly open source. This means its source code remains
          open to anyone to view or modify. <br /> A dedicated worldwide community
          of passionate audio lovers have collaborated to make Audacity the well-loved
          software it is today. Many third-party plugins have also been developed
          for Audacity thanks to its open source nature.
        </p>
      </div>
    </div>
  </div>
</section>