---
import FeatureCard from "../card/FeatureCard.jsx";
import { useTranslations } from "../../i18n";

const t = useTranslations(Astro.currentLocale);
---

<section class="bg-background-medium py-8 lg:py-12">
  <div class="mx-auto px-6 xs:px-12 md:px-16 max-w-screen-xl">
    <div class="text-center mb-6 md:mb-8 lg:mb-12">
      <h2 class="text-32 text-text-primary font-semibold">
        {t("features.intro")}
      </h2>
    </div>

    <!-- Feature Cards Grid -->
    <div
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 md:gap-6 lg:gap-8 md:pb-6"
    >
      <FeatureCard
        icon="icon-monitor"
        title={t("features.crossPlatform.title")}
        description={t("features.crossPlatform.body")}
      />
      <FeatureCard
        icon="icon-cycle"
        title={t("features.importExport.title")}
        description={t("features.importExport.body")}
      />
      <FeatureCard
        icon="icon-plug"
        title={t("features.plugins.title")}
        description={t("features.plugins.body")}
      />
      <FeatureCard
        icon="icon-waveform"
        title={t("features.analysis.title")}
        description={t("features.analysis.body")}
      />
    </div>
  </div>
</section>
