---
import FeatureCard from "../card/FeatureCard.jsx";
---

<section class="py-8 md:py-16">
  <div class="max-w-screen-md xl:max-w-screen-xl mx-auto grid grid-cols-12">
    <div class="col-start-2 col-span-10 lg:col-start-1 lg:col-span-12 grid grid-cols-12 gap-4 md:gap-6">
      <FeatureCard
        icon="icon-monitor"
        title="Cross-platform"
        description="Runs on all major operating systems &ndash; Windows, MacOS and Linux."
      />
      <FeatureCard
        icon="icon-cycle"
        title="Import, export, convert"
        description="Audacity supports all major audio formats, allowing you to convert WAV to MP3, FLAC, OGG and much more."
      />
      <FeatureCard
        icon="icon-plug"
        title="Plug-in support"
        description="Elevate your productions with a vast selection of third-party plug-ins, including VST3, Nyquist and more."
      />
      <FeatureCard
        icon="icon-waveform"
        title="Deep audio analysis"
        description="Visualize frequencies in Audacity's Spectogram view or use scientific Vamp analyzers to make discoveries."
      />
    </div>
  </div>
</section>
