---
import FeatureCard from "../card/FeatureCard.jsx";
---

<section class="py-8 lg:py-12">
  <div class="mx-auto px-6 xs:px-12 md:px-16 max-w-screen-xl">
    <div
      class="text-center mb-6 md:mb-8 lg:mb-12 flex flex-col items-center gap-4"
    >
      <h2>All you need to create</h2>
      <p class="max-w-2xl text-lg opacity-80"></p>
    </div>

    <!-- Feature Cards Grid -->
    <div
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 md:gap-6 lg:gap-8 md:pb-6"
    >
      <FeatureCard icon="icon-monitor" title="Cross-platform">
        Edit audio on all major operating systems – Windows, MacOS and Linux
      </FeatureCard>

      <FeatureCard icon="icon-microphone" title="Advanced voice editing">
        Record, clean up, enhance and produce your song or podcast with modern
        audio production tools
      </FeatureCard>

      <FeatureCard icon="icon-plug" title="Plugin support">
        Create from start to finish using your favorite VST3 and Nyquist plugins
      </FeatureCard>

      <FeatureCard icon="icon-cycle" title="Import, export, convert">
        Convert or export your song to WAV or MP3, FLAC, Ogg and many more
      </FeatureCard>
    </div>
  </div>
</section>
