---
import DownloadButton from "../button/DownloadButton";
import Audacity_Logo from "../../assets/img/Audacity_Logo.svg";
import DownloadMuseHubButton from "../button/DownloadMuseHubButton";
---

<section id="main">
  <div class="flex flex-col items-center py-8 md:pt-10 md:pb-12 lg:pt-16 lg:pb-20 xl:pt-20 xl:pb-24 mx-6">
    <img alt="A yellow and orange waveform between the ears of a set of blue headphones" class="w-12 md:w-16" src={Audacity_Logo.src} />
    <h1 class="leading-tight max-w-2xl text-center mt-2">
      Audacity is the world's most popular audio editing and recording app
    </h1>
    <div
      class="flex w-full sm:w-fit flex-col gap-2 sm:flex-row mt-8"
    >
      <DownloadButton client:load/>
      <DownloadMuseHubButton client:load />
      <noscript>
        <DownloadButton/>
    </noscript>
    </div>
  </div>
</section>
