---
import DownloadButton from "../button/DownloadButton";
import DownloadMuseHubButton from "../button/DownloadMuseHubButton";
import { Image } from "astro:assets";
import AudacityMockUp from "../../assets/img/HeroBannerImage.webp";
---

<section id="main" class="bg-gradient-to-r from-indigo-900 to-blue-700">
  <div class="mx-auto px-4 md:px-8 py-4 md:py-8 lg:py-12 max-w-screen-lg">
    <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-8 md:gap-12">
      <!-- Left Column - Text Content -->
      <div class="flex flex-col text-center md:text-left md:w-1/2 gap-6">
        <h1 class="text-xl sm:text-2xl md:text-3xl lg:text-4xl font-semibold text-white leading-tight">
          Audacity is the world's most popular audio editing and recording app
        </h1>

        <div class="flex flex-col w-full md:w-fit gap-4 items-center md:items-start pb-2 md:pb-">
          <DownloadMuseHubButton client:load />
          <noscript>
            <DownloadMuseHubButton client:load />
          </noscript>
          <DownloadButton client:load />
          <noscript>
            <DownloadButton client:load />
          </noscript>
        </div>
      </div>

      <!-- Right Column - Image -->
      <div class="hidden md:block md:w-1/2">
        <div class="relative">
          <Image
            src={AudacityMockUp}
            alt="A laptop showing the Audacity application"
            width={668}
            quality={80}
            loading="eager"
            class="w-full h-auto"
          />
        </div>
      </div>
    </div>
  </div>
</section>

