---
import DownloadButton from "../button/DownloadButton";
import Audacity_Logo from "../../assets/img/Audacity_Logo.png";
import DownloadMuseHubButton from "../button/DownloadMuseHubButton";
---

<section class="mt-14">
  <div
    class="max-w-screen-sm md:max-w-screen-lg mx-auto py-12 grid grid-cols-12 gap-y-6"
  >
    <div class="flex flex-col gap-2 col-start-2 col-span-10 items-center">
      <img class="w-12 md:w-16 lg:w-24" src={Audacity_Logo} />
      <h1
        class="text-center text-2xl md:text-3xl lg:text-5xl leading-snug font-bold text-gray-800"
      >
        Audacity, the world's most popular audio editing and recording app
      </h1>
    </div>

    <div class="flex flex-col gap-2 col-start-2 col-span-10 md:col-start-4 md:col-span-6 lg:col-start-5 lg:col-span-4">
      <DownloadButton client:only primary />
      <DownloadMuseHubButton client:only />
    </div>
  </div>
</section>