---
import DownloadButton from "../button/DownloadButton";
import DownloadMuseHubButton from "../button/DownloadMuseHubButton";
import { Image } from "astro:assets";
import AudacityMockUp from "../../assets/img/HeroBannerImage.webp";
---

<section id="main" class="bg-gradient-to-r from-indigo-900 to-blue-700">
  <div
    class="grid grid-cols-12 max-w-screen-lg mx-6 sm:mx-16 xl:mx-auto py-8 md:py-16 sm:py-12 gap-6 md:gap-0"
  >
    <div
      class="col-span-12 mx-2 md:mx-0 text-center md:text-left md:col-span-5 flex flex-col gap-4 md:gap-8 justify-center"
    >
      <h1 class="leading-tight mt-2 text-white">
        Audacity is the world's most popular audio editing and recording app
      </h1>

      <div class="flex flex-col md:w-fit gap-4 items-center md:items-start">
        <DownloadMuseHubButton client:load />
        <noscript>
          <DownloadMuseHubButton client:load />
        </noscript>
        <DownloadButton client:load />
        <noscript>
          <DownloadButton client:load />
        </noscript>
      </div>
    </div>
    <div
      class="col-span-12 md:col-start-7 md:col-span-7 flex items-center justify-center mx-4"
    >
      <Image
        src={AudacityMockUp}
        alt="A laptop showing the Audacity application"
        width={960}
        quality={80}
        loading="eager"
      />
    </div>
  </div>
</section>
