---
import MuseHubGif from "../../assets/img/museHub/musehub.gif";
import MuseHubLogo from "../../assets/img/museHub/musehub-logo.png";
---

<section class="bg-black">
  <div class="mx-auto max-w-xl md:max-w-4xl lg:max-w-6xl grid md:grid-cols-3">
    <div class="flex flex-col justify-center pb-8 text-center items-center md:items-start md:text-left">
      <img class="w-16" src={MuseHubLogo} />
      <h2 class="text-xl md:text-3xl font-bold text-white mt-4">
        Download Musehub and get free VST Effects for Audacity
      </h2>
      <a
        class="flex h-12 items-center text-white bg-blue-700 rounded w-fit px-3 mt-8"
        >Find out more</a
      >
    </div>
    <div class="row-start-1 md:row-auto col-span-2"><img class="w-full" src={MuseHubGif} /></div>
  </div>
</section>
