---
import Badge from "../badge/Badge.astro";
import RealTimeEffects from "../../assets/img/features/Spectrogram.png";
import ShareAudio from '../../assets/img/features/ShareAudio.png'
---

<section>
  <div class="mx-auto max-w-6xl px-3 lg:px-0 pt-16 pb-12">
    <div class="grid grid-cols-2">
      <div class="flex flex-col justify-center p-16">
        <Badge badgeText="New in v3.2" />
        <h1 class="text-5xl font-bold mt-2">Real-time effects</h1>
        <p class="mt-6">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
        <a
          class="font-lg font-bold inline-flex gap-x-2 hover:underline text-blue-700 items-center mt-12"
          href="/blog"
          >Find out more<svg
            class="fill-blue-700 w-4"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
          >
            <path
              d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
            ></path></svg
          ></a
        >
      </div>
      <div class="p-16 "><img class="object-cover" src={RealTimeEffects} /></div>
    </div>

    <div class="grid grid-cols-2 mt-16">
        <div class="p-16 "><img class="object-cover" src={ShareAudio} /></div>
        <div class="flex flex-col justify-center p-16">
          <Badge badgeText="New in v3.2" />
          <h1 class="text-5xl font-bold mt-2">Share audio</h1>
          <p class="mt-6">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
          <a
            class="font-lg font-bold inline-flex gap-x-2 hover:underline text-blue-700 items-center mt-12"
            href="/blog"
            >Find out more<svg
              class="fill-blue-700 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
            >
              <path
                d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
              ></path></svg
            ></a
          >
        </div>
      </div>

   
  </div>
</section>
