---
import RecordAnything from "../../assets/img/record-anyting.jpg";
---

<section class="bg-slate-50">
  <div class="grid grid-cols-12 gap-8 max-w-7xl mx-auto py-20">
    <div class="flex flex-col justify-center gap-4 col-start-1 col-span-6">
      <h2 class="text-6xl font-bold">Record anything</h2><p class="text-2xl">
        Excellent for podcasts, voice-over work or even just recording memos.
        All you need is a microphone.
      </p>
    </div>
    <image class="col-start-7 col-end-13" src={RecordAnything} />
  </div>
</section>
