<section class="bg-gray-900">
  <div class="grid grid-cols-12 gap-8 max-w-7xl mx-auto py-12">
    <div class="flex flex-col gap-8 justify-center col-start-2 col-end-6">
      <h2 class="text-3xl items-end text-white leading-snug font-semibold">
        Produce music. Produce podcasts. Take total control of your sound
      </h2>
      <a
        class="text-xl underline inline-flex gap-x-2 hover:underline text-blue-400 items-center"
        href="https://support.audacityteam.org/audio-editing/using-realtime-effects"
        target="_blank"
        >More about our new release<svg
          class="fill-blue-400 w-4"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512"
        >
          <path
            d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
          ></path></svg
        ></a
      >
    </div>
    <div class="flex align-middle col-start-7 col-end-12">
      <iframe
        class="w-full aspect-video rounded-md shadow-xl"
        src="https://www.youtube.com/embed/DTRnDNR9LR8"
        title="YouTube video player"></iframe>
    </div>
  </div>
</section>
