<section class="bg-gray-900">
  <div
    class="max-w-4xl mx-auto pt-16 pb-24 lg:pt-24 lg:pb-32 xl:px-0 px-3"
  >
    <div class="space-y-4 text-center text-white">
      <h2 class="text-xl lg:text-2xl font-bold">New in Audacity 3.2</h2>
    </div>
    <iframe
      class="w-full aspect-video rounded-md shadow-xl mt-4 lg:mt-8 "
      src="https://www.youtube.com/embed/DTRnDNR9LR8"
      title="YouTube video player"></iframe>
  </div>
</section>
