---
import SplitFeaturedVideo from "../video/SplitFeaturedVideo";
import promoData, { getFilteredPromos } from "../../assets/data/promotions";

const videoPromos = getFilteredPromos(Object.values(promoData), {
  type: "video",
});
---

<section class="bg-slate-100">
  <div
    class="mx-auto px-6 xs:px-12 md:px-8 py-6 md:py-8 lg:py-12 max-w-screen-lg"
  >
    <div class="flex flex-col md:flex-row gap-12 md:gap-16">
      <div class="w-full md:w-1/2">
        <SplitFeaturedVideo client:load promos={videoPromos} slot="1" />
      </div>

      <div class="w-full md:w-1/2">
        <SplitFeaturedVideo client:load promos={videoPromos} slot="2" />
      </div>
    </div>
  </div>
</section>
