<section class="bg-gray-900">
  <div class="gap-12 max-w-4xl mx-auto pt-24 pb-32 xl:px-0 px-3 space-y-8">
    <h2 class="text-2xl xl:text-3xl font-bold text-white text-center">New in Audacity 3.2</h2>
    <iframe
      class="w-full aspect-video rounded-md shadow-xl col-span-6"
      src="https://www.youtube.com/embed/DTRnDNR9LR8"
      title="YouTube video player"></iframe>
  </div>
</section>
