---
import AudioCard from "../../assets/img/AudioCard.png";
---

<section
  class="bg-black"
>
  <div class="grid grid-cols-12 gap-y-4 max-w-screen-xl mx-auto py-12">
    <div class="flex flex-col gap-2 col-start-2 col-span-10 md:col-start-2 md:col-span-4">
      <h2 class="text-white">Share your sounds</h2>
      <p class="text-white">
        Upload your sounds online to Audio.com, instantly.
      </p>
    </div>

    <div class="col-start-2 col-span-10 md:col-start-7 md:col-span-5"><img src={AudioCard} /></div>
  </div>
</section>