<section class="bg-gradient-to-r from-indigo-500 to-indigo-700">
    <div class="mx-auto max-w-4xl lg:max-w-6xl px-3 lg:px-0 pt-16 pb-16 grid md:grid-cols-3 divide-x-2 text-center text-white divide-white/10">
      <div><h2 class="font-mono font-bold text-5xl">100m +</h2><p class="text-lg mt-2">Downloads since 2004</p></div>
      <div><h2 class="font-mono font-bold text-5xl">16</h2><p class="text-lg mt-2">Supported languages</p></div>
      <div><h2 class="font-mono font-bold text-5xl">245</h2><p class="text-lg mt-2">Individual contributors</p></div>
    </div>
  </section>
  