---
interface Props {
  label: string;
  value: string;
}

const { label, value } = Astro.props as Props;
---

<div class="md:text-center">
  <p class="text-sm md:text-base text-gray-500">{label}</p><h2
    class="font-bold text-2xl md:text-3xl xl:text-4xl text-gray-800"
  >
    {value}
  </h2>
</div>
