---
interface Props {
  badgeText: string;
}

const { badgeText } = Astro.props as Props;
---

<div class="flex px-2 border-l-2 border-blue-700 box-border"><p class="text-gray-500 font-semibold text-sm uppercase leading-4">{badgeText}</p></div>
