# build output
dist/

# netlify local state
.netlify/

# misc local files
local/

# skills
.github/skills/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

*.code-workspace