---
import { releaseData } from "../../assets/js/releaseData";
import DownloadsPaginationButton from "../../components/button/DownloadsPaginationButton";
import DownloadCard from "../../components/card/DownloadCard";
import BaseLayout from "../../layouts/BaseLayout.astro";
import IconLinkCard from "../../components/card/IconLinkCard";
import "../../styles/icons.css";

const { win } = releaseData;
---

<BaseLayout title="Audacity | Download for Windows">
  <main class="max-w-screen-lg mx-auto mt-14">
    <section class="pt-16">
      <div class="flex flex-col gap-4 items-center text-center">
        <svg
          class="w-8 fill-blue-700"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512"
          ><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
          <path
            d="M0 93.7l183.6-25.3v177.4H0V93.7zm0 324.6l183.6 25.3V268.4H0v149.9zm203.8 28L448 480V268.4H203.8v177.9zm0-380.6v180.1H448V32L203.8 65.7z"
          ></path></svg
        >
        <h2 class="text-5xl font-bold">Download for Windows</h2>
        <div>
          <p class="text-xl">
            Current version 3.3.3 | <a class="text-blue-700 underline"
              >View release notes</a
            >
          </p>
        </div>
      </div>
    </section>
    <section class="mt-16">
      <div class="flex flex-col gap-4 border-t border-b">
        {
          win.map((item) => {
            return <DownloadCard client:load title={item.name} />;
          })
        }
      </div>
    </section>
    <section class="mt-16">
      <h2 class="text-3xl font-bold">Additional resources</h2>
      <div class="flex gap-8 mt-8">
        <IconLinkCard
          icon="icon-export"
          title="Ffmpeg import/export library"
          description="An optional library which handles additional file formats (like WMA, M4A, AC3 and others)"
          linkText="Link to ffmpeg library"
          targetURL="/"
        />
        <IconLinkCard
          icon="icon-mixer"
          title="Plugins"
          description="Elevate your productions with a vast selection of third-party plug-ins, including VST3, Nyquist and more."
          linkText="Link to plugins page"
          targetURL="/"
        />
      </div>
    </section>
    <section class="mt-16">
      <h2 class="text-3xl font-bold">Older versions</h2>
      <div>
        <h4 class="text-xl font-bold mt-8">
          Running and older version of Audacity?
        </h4>
        <p class="text-xl mt-2">
          Audacity 3.1.0 is believed to work correctly on Windows 7, 8.1 and
          Vista, though please note that 7, 8 and Vista obsolete and no longer
          supported by Microsoft.
          <br />
          <br />
          <a class="text-blue-700 underline"
            >More information about Audacity on Visa HERE</a
          >
          <br />
          <br />
          For Windows 98, ME and 2000, also for XP without the final Service Pack
          see Legacy Windows Downloads.
        </p>
      </div>
      <div class="mt-16">
        <h4 class="text-xl font-bold mt-8">
          Looking for an older version for Audacity?
        </h4>
        <p class="text-xl mt-2">
          Go ahead, dive into the archives, and discover the perfect Audacity
          version for your unique needs. Begin your journey today and unleash
          your creativity with Audacity!
          <br />
          <br />
          <a class="text-blue-700 underline">Link to Fosshub</a>
          <br />
          <br />
          For Windows 98, ME and 2000, also for XP without the final Service Pack
          see Legacy Windows Downloads.
        </p>
      </div>
    </section>

    <section class="my-24">
      <div class="flex justify-between">
        <div class="flex gap-2 items-center">
          <span class="icon icon-medium icon-arrow-left text-blue-700"></span>

          <a
            class="text-xl font-bold text-blue-700 underline"
            href="/downloads/download-for-linux">Download for Linux</a
          >
        </div>
        <div class="flex gap-2 items-center">
          <a
            class="text-xl font-bold text-blue-700 underline"
            href="/downloads/download-for-mac">Download for Mac</a
          >
          <span class="icon icon-medium icon-arrow-right text-blue-700"></span>
        </div>
      </div>
    </section>
  </main>
</BaseLayout>
