---
import { releaseData } from "../../assets/js/releaseData";
import "../../styles/icons.css";
import DownloadPageLayout from "../../layouts/DownloadPageLayout.astro";

const { win } = releaseData;
---

<DownloadPageLayout
  title="Audacity | Download for Windows"
  OS="Windows"
  version="3.3.3"
  releaseData={win}
  iconName="windows"
  iconColor="text-blue-700"
>
  <h3>Older versions</h3>
  <div>
    <h4 class="mt-8">Running and older version of Audacity?</h4>
    <p class="mt-2">
      Audacity 3.1.0 is believed to work correctly on Windows 7, 8.1 and Vista,
      though please note that 7, 8 and Vista obsolete and no longer supported by
      Microsoft.
      <br />
      <br />
      <a class="hyperlink">More information about Audacity on Visa HERE</a>
      <br />
      <br />
      For Windows 98, ME and 2000, also for XP without the final Service Pack see
      Legacy Windows Downloads.
    </p>
  </div>
  <div class="mt-16">
    <h4 class="mt-8">Looking for an older version for Audacity?</h4>
    <p class="mt-2">
      Go ahead, dive into the archives, and discover the perfect Audacity
      version for your unique needs. Begin your journey today and unleash your
      creativity with Audacity!
      <br />
      <br />
      <a class="hyperlink">Link to Fosshub</a>
      <br />
      <br />
      For Windows 98, ME and 2000, also for XP without the final Service Pack see
      Legacy Windows Downloads.
    </p>
  </div>
</DownloadPageLayout>
