---
import { releaseData } from "../../assets/js/releaseData";
import DownloadPageLayout from "../../layouts/DownloadPageLayout.astro";
---

<DownloadPageLayout title="Download for Mac">
  <div class="mb-16">
    <div class="mb-12 divide-y">
      <h4 class="text-md font-bold mb-4">Universal</h4>

    </div>
  </div>

  <div class="flex flex-col gap-4 sm:flex-row mt-16">
   
  </div>

</DownloadPageLayout>
