---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const publishedBlogPosts = await getCollection("blog");
  return publishedBlogPosts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<BaseLayout title="Audacity | ">
  <article class="prose prose-xl mx-auto my-12">
    <div class="flex flex-col gap-2 border-b pb-6">
      <h2 class="mb-0">{post.data.title}</h2>
      <p class="mb-0">By {post.data.author}</p>
      <small>{post.data.publishDate}</small>
    </div>
    <Content />
  </article>
</BaseLayout>
