---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const publishedBlogPosts = await getCollection("blog");
  return publishedBlogPosts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
const options = {
  weekday: "long",
  year: "numeric",
  month: "long",
  day: "numeric",
};
---

<BaseLayout title={"Audacity | " + post.data.title}>
  <article class="prose prose-blue prose-xl mx-6 sm:mx-12 md:mx-16 xl:mx-auto my-12 lg:mt-16 lg:mb-24">
    <div class="flex flex-col gap-2 border-b pb-6">
      <h2 class="my-0">{post.data.title}</h2>
      <p class="mb-0">By {post.data.author}</p>
      <small>{post.data.publishDate.toLocaleDateString("en-US", options)}</small>
    </div>
    <Content />
  </article>
</BaseLayout>
