@font-face {
    font-family: 'MusescoreIcon';
    src: url('/fonts/MusescoreIcon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.icon {
    font-family: 'MusescoreIcon', sans-serif;
    font-size:16px
}

.icon-large {
    font-size: 36px;
}

.icon-save:before {
    content: "\EF29";
}

.icon-share:before {
    content: "\F359"
}

.icon-export:before {
    content: "\EF24"
}

.icon-mixer:before {
    content: "\EF27"
}