@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h2 {
        @apply text-20 lg:text-32 text-text-primary font-semibold leading-tight
    }


    h3 {
        @apply text-18 md:text-18 lg:text-24 text-text-primary font-semibold
    }


    h5 {
        @apply text-16 font-semibold text-text-primary
    }

    p {
        @apply text-16 text-text-primary leading-snug
    }

    label {
        @apply text-text-primary
    }

    .list li {
        @apply mt-2 list-disc list-inside text-16 lg:text-18 text-text-primary leading-relaxed
    }

    small {
        @apply text-12 uppercase text-text-primary
    }

    .hyperlink {
        @apply text-accent underline hover:opacity-80
    }

    .dark-hyperlink {
        @apply text-accent underline hover:opacity-80
    }

    .footer-link-list li {
        @apply text-text-contrast hover:text-accent w-fit
    }

    .copyright {
        @apply text-12 text-text-contrast
    }

    .sub-heading {
        @apply text-16
    }

    .faq-question {
        @apply font-semibold text-18 text-text-primary
    }

    .footer-list-heading {
        @apply text-text-contrast
    }

    .privacy-banner-heading {
        @apply font-semibold text-24 text-text-primary
    }

    .additional-resource-heading {
        @apply font-semibold text-18 text-text-primary
    }

    .skip-to-content {
        position: fixed;
        background-color: #FF3254;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0px;
        right: 0px;
        top: 0px;
        opacity: 0;
        transition-property: top;
        transition-duration: .3s;
        height: 48px;
    }

    .skip-to-content:focus {
        top: 56px;
        opacity: 1;
    }

    #consent-popup {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 2rem;
        background-color: #fff;
        opacity: 1;
        transition: bottom .5s ease;

        &.hide{
           bottom:-412px;
        }
   
    }
}