---
import HeroSwoosh from "../homepage/HeroSwoosh.astro";
---

<section class="about-interstitial">
  <div class="about-interstitial__inner">
    <slot>
      <div class="about-interstitial__swoosh">
        <HeroSwoosh />
      </div>
    </slot>
  </div>
</section>

<style>
  .about-interstitial {
    background-color: rgb(2, 2, 4);
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 1.5rem;
  }

  .about-interstitial__inner {
    max-width: 60ch;
    text-align: center;
  }

  .about-interstitial__swoosh {
    width: 100%;
    max-width: 360px;
    aspect-ratio: 669 / 554;
    margin: 0 auto;
  }
</style>
