---
interface Props {
  title: string;
  description: string;
  href: string;
  thumbnail: string;
  author: string;
  date: string;
}
const { title, description, href, thumbnail, author, date } =
  Astro.props as Props;
---

<a href={href} class="col-span-12 lg:col-span-4 cursor-pointer">
  <div
    class="flex flex-col md:flex-row lg:flex-col rounded-lg overflow-hidden bg-slate-100 h-80 md:h-full drop-shadow-md"
  >
    <div class="w-full h-32 md:w-48 md:h-48 lg:w-full lg:h-40">
      <img class="w-full h-full object-cover" src={thumbnail} />
    </div>

    <div class="flex flex-1 flex-col justify-between p-4 pb-6">
      <div class="flex flex-col gap-1">
        <small>
          {date}
        </small>
        <h4>
          {title.length > 100 ? title.slice(0, 100) + `...` : title}
        </h4>
        <p>
          {description.length > 100 ? description.slice(0, 100) + `...` : description}
        </p>
      </div>

      <div class="mt-4">
        <p class="hyperlink">Read more</p>
      </div>
    </div>
  </div>
</a>
