---
interface Props {
  title: string;
  description: string;
  href: string;
  thumbnail: string;
}
const { title, description, href, thumbnail } = Astro.props as Props;

const clippedDescription = description.slice(0, 100);
---

<div class="w-fill shadow-md hover:shadow-lg hover:scale-105 transition ease-in-out border-2 border-gray-100 rounded-lg overflow-hidden bg-white">
  <img class="object-cover w-full h-44" src={thumbnail} />
  <div class="py-6 px-4">
    <h3 class="font-semibold text-lg text-gray-900">{title}</h3>
    <p class="text-base text-gray-700">{clippedDescription}...</p>
    <a
      class="font-medium inline-flex gap-x-2 hover:underline text-blue-700 mt-6"
      href={href}
      >Find out more<svg
        class="fill-blue-700 w-4"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
      >
        <path
          d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
        ></path></svg
      ></a
    >
  </div>
</div>
