---
import { Image } from "astro:assets";

export interface Props {
  title: string;
  description: string;
  href: string;
  publishDate: Date;
  cover: ImageMetadata;
  coverAlt: string;
}
const { title, href, publishDate, description, cover, coverAlt } = Astro.props;

const options: Intl.DateTimeFormatOptions = {
  weekday: "long",
  year: "numeric",
  month: "long",
  day: "numeric",
};
---

<a
  href=`/blog/${href}`
  class="flex flex-col gap-4 hover:opacity-90 transition-opacity duration-200"
>
  <Image
    width="543"
    quality="80"
    class="rounded-md aspect-image"
    alt={coverAlt}
    src={cover}
  />
  <div class="flex flex-col gap-1">
    <small class="text-text-primary opacity-80">{publishDate.toLocaleDateString("en-US", options)}</small>
    <h4 class="text-text-primary font-bold text-20">{title}</h4>
  </div>

  <p class="text-text-primary">
    {description.length > 200 ? `${description.slice(0, 200)}...` : description}
  </p>
</a>