---
import { Image } from "astro:assets";

export interface Props {
  title: string;
  description: string;
  href: string;
  publishDate: Date;
  cover: ImageMetadata;
  coverAlt: string;
}
const { title, href, publishDate, description, cover, coverAlt } = Astro.props;

const options: Intl.DateTimeFormatOptions = {
  weekday: "long",
  year: "numeric",
  month: "long",
  day: "numeric",
};
---

<a
  href=`/blog/${href}`
  class="col-span-12 sm:col-span-6 md:col-span-4 flex flex-col gap-4 hover:opacity-90 transition-opacity duration-200"
>
  <Image
    width="396"
    quality="80"
    class="rounded-md aspect-image"
    alt={coverAlt}
    src={cover}
  />
  <div class="flex flex-col gap-1">
    <small>{publishDate.toLocaleDateString("en-US", options)}</small>
    <h3>{title}</h3>
  </div>

  <p>
    {description.length > 200 ? `${description.slice(0, 200)}...` : description}
  </p>
</a>

