---
import type { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/icons.css";
---

<BaseLayout title="Audacity ® | 404 - Page not found">
  <section class="max-w-screen-xl mx-4 sm:mx-auto">
    <div class="text-center py-12 flex flex-col items-center">
      <h1 class="text-6xl md:text-8xl">404</h1><p class="my-4">
        Sorry, but we could't find the page that you were looking for...
      </p>
      <a href="/" class="flex w-fit px-4 py-2 bg-gray-200 my-4 rounded-md hover:bg-gray-300 cursor-pointer">Back to safety</a>
    </div>
  </section>
</BaseLayout>
