---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/icons.css";
import { betaReleases } from "../assets/data/betaReleases";
import SplitDownloadButton from "../components/button/SplitDownloadButton.jsx";
import FeaturedVideo from "../components/video/FeaturedVideo";

const { win, mac, lin } = betaReleases;
---

<BaseLayout
  title="Audacity 4 alpha download"
  description="Test the latest Audacity 4 alpha for Windows, macOS and Linux"
  index="none"
>
  <main id="main" class="max-w-screen-xl mx-auto text-gray-700">
    <div class="grid grid-cols-12 pt-8 pb-32 gap-y-12">
      <section class="col-start-2 col-span-10 sm:col-start-2 sm:col-span-5">
        <h1>Audacity&nbsp;4 Alpha 1</h1>
        <div class="mt-4">
          <p>
            The purpose of this alpha build is to test the core features of
            Audacity 4 on a wide selection of hardware and operating systems.
          </p>
          <p>
            If you experience severe issues or crashes, please file an issue on
            GitHub (requires a free GitHub account).
          </p>
          <ul class="py-2 list-none">
            <li>
              <a
                href="https://github.com/audacity/audacity/issues"
                class="hyperlink"
              >
                Github issues
              </a>
            </li>
          </ul>

          <h2 class="mt-6 text-2xl">What's implemented</h2>

          <ul class="list-disc mt-2 ml-6">
            <li>Recording and playback</li>
            <li>Editing audio</li>
            <li>Applying effects (destructive and real-time)</li>
            <li>Exporting audio files</li>
            <li>
              Configuring and re-arranging the interface (including the new
              Workspaces feature)
            </li>
          </ul>

          <h3 class="mt-2">A note on compatibility ⚠️</h3>
          <p class="mt-2">
            Projects saved in Audacity 4 are not backwards compatible. We
            recommend you make a copy of your important projects before opening
            them in Audacity 4.
          </p>

          <h2 class="mt-6 text-2xl">Unimplemented features</h2>
          <p class="mt-2">
            Some yet-to-be finalized features might appear non-functional, or
            have been excluded from Audacity's interface. These are features not
            yet ready for user testing, and have been disabled.
          </p>
          <ul class="list-disc mt-2 ml-6">
            <li>Nyquist, LADSPA and VAMP and the OpenVINO plugins</li>
            <li>Preferences from Audacity 3 are not carried over</li>
            <li>Envelopes and label tracks</li>
            <li>Spectrogram view and the spectral editing mode</li>
            <li>Most built-in effects, including generators and analyzers</li>
            <li>Opening multiple projects at the same time</li>
          </ul>

          <div>
            <h2 class="mt-4 text-2xl">Submit your feedback!</h2>
            <p class="mt-2">
              We're always eager to hear what you have to say, but it's
              especially important we hear from you during this early phase.
              Please let us know what you think, using the following places:
            </p>
            <ul class="py-2 list-none">
              <li class="hyperlink">
                <a href="https://forum.audacityteam.org/c/au4/64"
                  >Audacity Forum</a
                >
              </li>
              <li class="hyperlink">
                <a href="https://discord.gg/audacity">Audacity Discord</a>
              </li>
              <li>
                <a
                  href="https://github.com/audacity/audacity/issues"
                  class="hyperlink"
                >
                  Github issues
                </a>
              </li>
            </ul>
          </div>
        </div>
        <FeaturedVideo
          client:load
          placeholderImage="https://i.ytimg.com/vi/QYM3TWf_G38/maxresdefault.jpg"
          imageAltText="Video: How we made Audacity 4"
          videoURL="https://www.youtube-nocookie.com/embed/QYM3TWf_G38?autoplay=1"
          title="Video: How we made Audacity 4"
          label="Watch a behind-the-scenes video on the making of Audacity 4"
          class="mt-8"
        />
      </section>
      <aside
        class="row-start-2 sm:row-start-1 col-start-2 col-span-10 sm:col-start-8 sm:col-span-4"
      >
        <h2 class="text-sm uppercase font-normal">Download links</h2>
        <div class="flex flex-col gap-6 mt-2">
          Coming soon...
          <!-- 
          <div class="border border-bg-200 rounded-md p-6">
            <h3 class="additional-resource-heading">
              Audacity 4 alpha 1 for Windows
            </h3>
            <div class="mt-2">
              <SplitDownloadButton OS="Windows" releaseData={win} client:load />
            </div>
          </div>

          <div class="border border-bg-200 rounded-md p-6">
            <h3 class="additional-resource-heading">
              Audacity 4 alpha 1 for macOS
            </h3>
            <div class="mt-2">
              <SplitDownloadButton OS="macOS" releaseData={mac} client:load />
            </div>
          </div>

          <div class="border border-bg-200 rounded-md p-6">
            <h3 class="additional-resource-heading">
              Audacity 4 alpha 1 for Linux
            </h3>
            <div class="mt-2">
              <SplitDownloadButton OS="Linux" releaseData={lin} client:load />
            </div>
            </div>-->
          </div>
      </aside>
    </div>
  </main></BaseLayout
>
