---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/icons.css";
import { betaReleases } from "../assets/data/betaReleases";
import SplitDownloadButton from "../components/button/SplitDownloadButton.jsx";

const { win, mac, lin } = betaReleases;
---

<BaseLayout
  title="Audacity ® | Beta download"
  description="Test the latest Audacity Beta for Windows, macOS and Linux"
>
  <main id="main" class="max-w-screen-xl mx-auto">
    <div class="grid grid-cols-12 pt-8 sm:pt-20 pb-32 gap-y-12">
      <section class="col-start-2 col-span-10 sm:col-start-2 sm:col-span-5">
        <div>
          <h1>Audacity Beta releases</h1>
          <div class="my-6">
            <p>
              <strong>There currently is no beta release available.</strong> You
              can download an pre-alpha version instead.
            </p>
            <p class="my-2">
              If you'd like to help us with testing, instructions can be found
              below.
            </p>
            <div
              class="flex items-center justify-center w-fit rounded-md text-white my-6"
            >
              <a
                href="https://support.audacityteam.org/community/contributing/testing"
              >
                <div
                  class="flex items-center gap-3 h-10 pl-4 pr-3 rounded-md bg-blue-700 hover:bg-blue-600"
                >
                  Instructions for testing
                </div></a
              >
            </div>
          </div>
        </div>
        <h2 class="mt-4">Audacity 4 alpha</h2>
        <div class="flex gap-4">
          <div
            class="flex items-center justify-center w-fit rounded-md text-white my-6"
          >
            <a href="/au4">
              <div
                class="flex items-center gap-3 h-10 pl-4 pr-3 rounded-md bg-blue-700 hover:bg-blue-600"
              >
                Go to Audacity 4 alpha 1 page
              </div></a
            >
          </div>
        </div>
        <p>
          <strong
            >The Audacity 4 alpha versions are unfinished at this time.</strong
          > This means that some buttons may not do anything yet, or placeholder
          items be used. For details, check the alpha 1 page.
        </p>
      </section>
    </div>
  </main>
</BaseLayout>
