---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/icons.css";
import { betaReleases, openvinoReleases } from "../assets/js/releaseData";
import SplitDownloadButton from "../components/button/SplitDownloadButton.jsx";

const { win, mac, lin } = betaReleases;
const { macBeta } = openvinoReleases;
---

<BaseLayout
  title="Audacity ® | Beta download"
  description="Test the latest Audacity Beta for Windows, macOS and Linux"
>
  <main id="main" class="max-w-screen-xl mx-auto">
    <div class="grid grid-cols-12 pt-8 sm:pt-20 pb-32 gap-y-12">
      <section class="col-start-2 col-span-10 sm:col-start-2 sm:col-span-5">
        <div>
          <h1>Help us test our new beta!</h1>
          <div class="mt-6">
            <p>
              We are looking for feedback on our new features in this release.
            </p>
            <h4 class="mt-8">MacOS: OpenVINO AI plugins</h4>
            <p class="mt-2">
              This is the first macOS release to support the OpenVINO AI
              plugins. </p>
              <p class="mt-2">Please install both the OpenVINO plugin beta and Audacity 3.7.4. You can use the various
              effects via Effects → OpenVINO.
            </p>
            <p class="mt-2">The following effects are available:</p>
            <ul class="pl-6 list-disc space-y-2 mt-2">
              <li>
              <dt class="font-semibold">Music separation</dt>
              <dd class="ml-2">Separate a mono or stereo track into individual stems -- Drums, Bass, Vocals, & Other Instruments.</dd>
              </li>
              <li>
              <dt class="font-semibold">Noise suppression</dt>
              <dd class="ml-2">Reduce background noise in a recording. Works best on spoken word audio.</dd>
              </li>
              <li>
              <dt class="font-semibold">Music generation and continuation</dt>
              <dd class="ml-2">Uses MusicGen LLM to generate snippets of music, or to generate a continuation of an existing snippet of music.</dd>
              </li>
              <li>
              <dt class="font-semibold">Whisper transcription</dt>
              <dd class="ml-2">Transcribe audio to text using OpenAI's Whisper model. Tip: You can export the resulting label track as a subtitle file via File → Export other → Export labels.</dd>
              </li>
              <li>
              <dt class="font-semibold">Audio Super resolution</dt>
              <dd class="ml-2">Increase the sampling rate of an audio signal – in other words, it upsamples audio to improve its fidelity, clarity, or compatibility with high-resolution standards.</dd>
              </li>
            </ul>

            <p class="mt-4">A full list of changes can be found in the <a href="https://support.audacityteam.org/additional-resources/changelog/audacity-3.7.4)" class="hyperlink">changelog</a>.</p>
          </div>
        </div>

        <div class="pt-12">
          <h2 class="mt-4">Submit your feedback!</h2>
          <p class="mt-4">
            We're always eager to hear what you have to say, but it's especially
            important we hear from you during this early phase. Please let us
            know what you think, using the following places:
          </p>
          <ul class="py-2 list-none">
            <li class="hyperlink">
              <a
                href="https://forum.audacityteam.org/c/feedback-and-discussion-forum/alpha-pre-release/21"
                >Audacity Forum</a
              >
            </li>
            <li class="hyperlink">
              <a href="https://discord.gg/audacity">Audacity Discord</a>
            </li>
            <li class="hyperlink">
              <a href="https://github.com/audacity/audacity/issues">
                Github issues (for concrete and reproducible bugs)
              </a>
            </li>
          </ul>
          <p class="pt-2">
            And with all that out of the way: <strong>Happy testing!</strong>
          </p>
        </div>
      </section>

      <aside
        class="row-start-2 sm:row-start-1 col-start-2 col-span-10 sm:col-start-8 sm:col-span-4"
      >
        <h2 class="text-sm uppercase font-normal text-gray-600">
          Download links
        </h2>
        <div class="flex flex-col gap-6 mt-2">
          <div class="border border-bg-200 rounded-md p-6">
            <h3 class="additional-resource-heading">
              Download Beta for Windows
            </h3>
            <div class="mt-2">
              <SplitDownloadButton OS="Windows" releaseData={win} client:load />
            </div>
          </div>

          <div class="border border-bg-200 rounded-md p-6">
            <h3 class="additional-resource-heading">Download Beta for macOS</h3>
            <div class="mt-2">
              <SplitDownloadButton OS="macOS" releaseData={mac} client:load />
            </div>
          </div>
          
          <div class="border border-bg-200 rounded-md p-6">
            <h3 class="additional-resource-heading">Download OpenVINO Beta for MacOS</h3>
            <div class="mt-2">
              <SplitDownloadButton OS="macOS" releaseData={macBeta} client:load />
            </div>
          </div>

          <div class="border border-bg-200 rounded-md p-6">
            <h3 class="additional-resource-heading">Download Beta for Linux</h3>
            <div class="mt-2">
              <SplitDownloadButton OS="Linux" releaseData={lin} client:load />
            </div>
          </div>

        </div>
      </aside>
    </div>
  </main>
</BaseLayout>
