---
import BaseLayout from "../layouts/BaseLayout.astro";
import JoinAudioDotComButton from "../components/button/JoinAudioDotComButton";
import "../styles/icons.css";
import FeatureCard from "../components/card/FeatureCard";
---

<BaseLayout
  title="Audacity Cloud Saving Platform"
  description="Never lose your work in Audacity with seamless sync to Cloud Storage"
>
  <section class="mx-8 max-w-screen-md xl:max-w-screen-lg md:mx-auto">
    <div class="py-8 sm:py-12 flex flex-col items-center">
      <div class="text-center">
        <h1>
          Sign up to Audacity's cloud saving platform and access your projects
          from anywhere!
        </h1>
        <div class="mt-12">
          <JoinAudioDotComButton
            client:load
            href=" https://audio.com/audacity/auth/sign-in?mtm_campaign=audacityteamorg&mtm_content=cloudsaving"
            matomoEventName="Cloudsaving page"
            large
          />
        </div>
      </div>
    </div>
  </section>
  <div class="grid grid-cols-2 sm:grid-cols-4 w-full gap-4 p-2 sm:p-16">
    <FeatureCard
      icon="icon-cloud"
      title="Secure cloud storage"
      description="Keep your projects safe and accessible with cloud storage. Access your work anywhere and never lose a file."
    />
    <FeatureCard
      icon="icon-note"
      title="Share your creations"
      description="Upload and share your audio from Audacity with just a few clicks. Quick, easy, and built for creators."
    />
    <FeatureCard
      icon="icon-pen"
      title="Transcribe your audio"
      description="Free AI-powered transcription for your podcasts or voice overs, delivering fast and precise text for effortless editing."
    />
    <FeatureCard
      icon="icon-globe"
      title="Explore new sounds"
      description="Collaborate with other creators, find new inspiration, and discover sounds to enhance and elevate your projects."
    />
  </div>
</BaseLayout>
