---
import PaginationButton from "../components/PaginationButton.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Audacity | Downloads">
  <main>
    <section>
      <div
        class="px-8 pt-10 pb-16 max-w-md sm:max-w-xl md:max-w-xl lg:max-w-4xl mx-auto"
      >
        <h4 class="text-4xl font-bold mb-6">Downloads</h4>

        <div class="flex gap-4">
          <PaginationButton title="Download for Windows" url="/downloads/download-for-windows"/>
          <PaginationButton title="Download for Mac" url="/downloads/download-for-mac"/>
          <PaginationButton title="Download for Linux" url="/downloads/download-for-"/>
        </div>
      </div>
    </section>
  </main>
</Layout>
