---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Audacity | Downloads">
  <main class="container mx-6 py-12">
    <h4 class="text-4xl font-bold mb-6">Downloads</h4>
    <ul class="space-y-4">
      <li>
        <a href="/downloads/download-for-windows">Download for Windows</a>
      </li>
      <li>
        <a href="/downloads/download-for-mac">Download for Mac</a>
      </li>
      <li>
        <a href="/downloads/download-for-linux">Download for Linux</a>
      </li>
    </ul>
  </main>
</Layout>
