---
import HeroBanner from "../components/HeroBanner.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section><HeroBanner /></section>
  </main>
</Layout>
