---
import HeroBanner from "../components/HeroBanner.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Audacity | Home">
  <main>
    <HeroBanner />
    <section id="releaseVideo" class="bg-gray-900">
      <div class="container mx-auto text-center pt-16 md:pt-24 pb-24 md:pb-40">
        <h2 class="text-3xl font-bold text-white mb-8">
          Audacity 3.2.1 is here!
        </h2>
        <div class="px-16">
          <iframe
            class="w-full aspect-video rounded-md"
            src="https://www.youtube.com/embed/DTRnDNR9LR8"
            title="YouTube video player"></iframe>
        </div>
      </div>
    </section>
  </main>
</Layout>