---
import HeroBanner from "../components/HeroBanner.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Audacity | Home">
  <main>
    <section><HeroBanner /></section>
  </main>
</Layout>
