<div class="bg-gray-900 py-32">
  <div class="container mx-auto grid grid-cols-12">
    <div class="col-span-6">
      <h1 class="text-6xl font-bold text-gray-100 mb-6">
        Audacity on Astro, styled in Tailwind
      </h1>
      <p class="text-xl text-gray-300 mb-16">
        Yeah this is so cool, now we can build our Audacity site using Astro and
        style it using Tailwind.
      </p>
      <div class="flex gap-4">
        <button
          type="button"
          class="inline-flex items-center justify-center h-12 text-white hover:bg-blue-800 focus:ring-4font-medium rounded-lg text-base px-5 bg-blue-600 dark:hover:bg-blue-700 focus:outline-none focus:ring-blue-800"
          >Download</button
        >
        <button
          type="button"
          class="inline-flex items-center justify-center h-12 px-5 text-base font-mediu focus:outline-none rounded-lg border-2 box-border focus:z-10 focus:ring-4 focus:ring-gray-700 text-gray-400 border-gray-600 hover:text-white hover:bg-gray-700"
          >Another action</button
        >
      </div>
    </div>
  </div>
</div>
