---
import AudacityLight from "../assets/img/AudacityLight.png";
import AudacityDark from "../assets/img/AudacityDark.png";
---

<section id="heroBanner">
    <div class="grid lg:grid-cols-2 lg:max-w-full mx-auto grid-background shadow-xl">
      <div class="px-8 py-12 lg:px-16 xl:flex flex-col justify-center xl:px-32 max-w-md sm:max-w-xl lg:max-w-full mx-auto">
        <img
          src={AudacityDark}
          alt="Audacity"
          class="mt-6 sm:mt-8 rounded-lg shadow-xl block lg:hidden"
        /><h1
          class="mt-6 sm:mt-8 lg:mt-0 text-2xl sm:text-4xl lg:text-5xl font-bold text-gray-900"
        >
          <span class="text-blue-500">Free</span>, open source, cross-platform
          audio software
        </h1>
        <p class="mt-2 sm:mt-4 lg:mt-6 sm:text-xl text-gray-600">
          A compelling and well rationalised value proposition statement for
          music producers that converts them.
        </p>
        <a
          id="downloadButton"
          href=""
          class="mt-4 sm:mt-6 lg:mt-8 text-sm sm:text-base flex h-10 sm:h-11 items-center px-3 bg-blue-700 hover:bg-blue-600 text-white w-fit rounded-sm shadow-xl"
          >Download</a
        >
      </div>
      <div class="relative bg-gray-200 shadow-inner overflow-hidden lg:p-48 xl:p-80">
        <img
          src={AudacityDark}
          alt="Audacity"
          class="hidden lg:block shadow-2xl scale-150 origin-top-left rounded-sm absolute bottom-24 -right-16"
        />
        <img
        src={AudacityLight}
        alt="Audacity"
        class="hidden lg:block shadow-2xl scale-150 origin-top-left rounded-sm absolute bottom-8 -right-32"
      />
      </div>
    </div>
  </section>

 