<div class="bg-gradient-to-b from-gray-100 to-gray-300">
  <div class="container mx-auto sm:grid sm:grid-cols-12 py-16 px-8">
    <div
      class="flex flex-col col-start-4 col-span-6 items-center space-y-4 text-center sm:text-left sm:col-start-1 sm:col-span-8 sm:items-start mb-4"
    >
      <h1 class="text-2xl md:text-5xl lg:text-6xl text-bold">
        Free, open source, cross-platform audio software
      </h1>
      <p class="">
        A compelling and well rationalised value proposition statement for music
        producers that converts them.
      </p>
      <div class="flex gap-2">
        <button class="bg-blue-600 text-white h-10 md:h-12 px-4 rounded-md hover:bg-blue-500 whitespace-nowrap"
          >Download</button
        >
        <button class= "text-blue-600 border-2 border-box border-blue-600 h-10 md:h-12 px-4 rounded-md hover:bg-blue-600 hover:text-white whitespace-nowrap"
          >Find out more</button
        ></div>
    </div>
  </div>
</div>
