<nav class="bg-whiteborder-gray-700 shadow-lg">
  <div class="flex justify-between py-3 px-4">
    <a href="/">
      <span class="text-blue-700 text-base font-bold">Audacity</span></a
    >
    <ul class="flex gap-4">
      <li>
        <a
          href="/downloads"
          class="hover:text-blue-500 text-gray-700 text-sm hover:underline"
          >Downloads</a
        >
      </li>
      <li>
        <a href="/blog" class="hover:text-blue-500 text-gray-700 text-sm hover:underline"
          >Blog</a
        >
      </li>
      <li>
        <a href="https://support.audacityteam.org" target="_blank" class="hover:text-blue-500 text-gray-700 text-sm hover:underline"
          >Help</a
        >
      </li>
      <li>
        <a href="https://forum.audacityteam.org/" target="_blank" class="hover:text-blue-500 text-gray-700 text-sm hover:underline"
          >Forum</a
        >
      </li>
    </ul>
  </div>
</nav>
