<nav class="px-2 sm:px-6 bg-white border-gray-200">
  <div
    class="container flex flex-wrap items-center justify-between mx-auto py-2"
  >
    <a href="/" class="flex items-center">
      <span class="self-center text-md sm:text-lg font-semibold whitespace-nowrap"
        >Audacity</span
      >
    </a>
    <div class="hidden sm:flex gap-8">
      <a href="/downloads">Downloads</a>
      <a href="#">About us</a>
      <a href="#">Forum</a>
      <a href="#">Help</a>
    </div>
  </div>
</nav>
