<div class="container mx-auto">
  <div class="flex items-center justify-between py-4">
    <a href="/" class="text-4xl text-blue-700 font-bold">Audacity</a>
    <div class="flex items-center space-x-8">
      <a href="/about" class="text-gray-700 hover:text-blue-800">About us</a>
      <a href="/downloads" class="text-gray-700 hover:text-blue-800">Downloads</a>
      <a href="/contact" class="text-gray-700 hover:text-blue-800">Forum</a>
      <a href="/contact" class="text-gray-700 hover:text-blue-800">Help</a>
      <button
        type="button"
        class="text-white bg-blue-700 hover:bg-blue-800 py-2 px-3 rounded"
        >Download</button
      >
    </div>
  </div>
</div>
