---
interface Props {
  title: string;
  checksum: string;
  downloadURL: string;
}

const { title, checksum, downloadURL } = Astro.props as Props;
---

<div class="flex flex-col sm:flex-row justify-between py-4 sm:py-6">
  <h5 class="font-semibold text-base text-gray-800">{title}</h5>
  <a
    href={downloadURL}
    download={title}
    class="text-blue-700 underline"
    >Download</a
  >
</div>
