<section class="bg-gray-900">
    <div class="px-8 pt-10 pb-16 max-w-md sm:max-w-xl md:max-w-xl lg:max-w-2xl mx-auto text-center">
      <h1 class="mt-6 sm:mt-8 text-lg sm:text-2xl text-white">
        Audacity <span class="text-blue-500 font-bold">v3.3</span> is here!
        <iframe
          class="w-full aspect-video rounded-md mt-4 shadow-xl"
          src="https://www.youtube.com/embed/DTRnDNR9LR8"
          title="YouTube video player"></iframe>
      </h1>
    </div>
  </section>