<section class="bg-gray-900">
    <div class="px-8 pt-10 xl:py-24 pb-16 max-w-md sm:max-w-xl md:max-w-xl lg:max-w-2xl xl:max-w-4xl mx-auto text-center">
      <h2 class="text-lg sm:text-2xl text-white">
        Audacity <span class="text-blue-500 font-bold">v3.3</span> is here!
        <iframe
          class="w-full aspect-video rounded-md mt-4 md:mt-8 shadow-xl"
          src="https://www.youtube.com/embed/DTRnDNR9LR8"
          title="YouTube video player"></iframe>
      </h2>
    </div>
  </section>