---

---

<div class="mt-6">
  <p>
    The purpose of this alpha build is to test the core features of Audacity 4
    on a wide selection of hardware and operating systems.
  </p>
  <p class="mt-2">
    Alpha 2 contains further work to bring Audacity 4 to feature parity with
    Audacity 3, as well as important bug fixes.
  </p>
  <p class="mt-2">
    If you experience severe issues or crashes, please file an issue on GitHub
    (requires a free GitHub account).
  </p>
  <ul class="mt-2 list-none">
    <li>
      <a href="https://github.com/audacity/audacity/issues" class="hyperlink">
        GitHub issues
      </a>
    </li>
    <li>
      <a href="https://forum.audacityteam.org/c/au4/64" class="hyperlink">
        Audacity forum
      </a>
    </li>
    <li>
      <a href="https://discord.gg/audacity" class="hyperlink">
        Audacity Discord
      </a>
    </li>
  </ul>

  <h3 class="mt-6">A note on compatibility ⚠️</h3>
  <p class="mt-2">
    Projects saved in Audacity 4 are not backwards compatible. We recommend you
    make a copy of your important projects before opening them in Audacity 4.
  </p>

  <h3 class="mt-6">What's implemented</h3>
  <ul class="list-disc mt-2 ml-5">
    <li>Recording and playback</li>
    <li>Editing audio</li>
    <li>Applying destructive and real-time effects</li>
    <li>Exporting audio files</li>
    <li>Saving and recalling custom Workspaces</li>
  </ul>

  <h3 class="mt-6">What's <em>not</em> implemented</h3>
  <p class="mt-2">
    Some yet-to-be finalized features might appear non-functional, or have been
    excluded from Audacity's interface. These are features not yet ready for
    user testing, and have been disabled.
  </p>
  <ul class="list-disc mt-2 ml-5">
    <li>Nyquist, LADSPA and VAMP and the OpenVINO plugins</li>
    <li>Preferences from Audacity 3 are not carried over</li>
    <li>Envelopes and label tracks</li>
    <li>Spectrogram view and the spectral editing mode</li>
    <li>Most built-in effects, including generators and analyzers</li>
    <li>Opening multiple projects at the same time</li>
  </ul>

  <h3 class="mt-6">Notable changes since alpha-1</h3>
  <ul class="list-disc mt-2 ml-5">
    <li>
      Allow track range selection using Shift-Enter (<a
        href="https://github.com/audacity/audacity/pull/9600"
        class="hyperlink">#9600</a
      >)
    </li>
    <li>
      Record from anywhere (<a
        href="https://github.com/audacity/audacity/pull/9540"
        class="hyperlink">#9540</a
      >)
    </li>
    <li>
      Export loop region (<a
        href="https://github.com/audacity/audacity/pull/9489"
        class="hyperlink">#9489</a
      >)
    </li>
    <li>
      Preference for paste behavior (<a
        href="https://github.com/audacity/audacity/pull/9612"
        class="hyperlink">#9612</a
      >)
    </li>
    <li>
      Preference for whether clicking on ruler should trigger playback (<a
        href="https://github.com/audacity/audacity/pull/9707"
        class="hyperlink">#9707</a
      >)
    </li>
    <li>
      Create loop region only when Control / Cmd key is pressed (<a
        href="https://github.com/audacity/audacity/pull/9712"
        class="hyperlink">#9712</a
      >)
    </li>
    <li>
      Smoother playhead (<a
        href="https://github.com/audacity/audacity/pull/9613"
        class="hyperlink">#9613</a
      >)
    </li>
  </ul>

  <h3 class="mt-6">Share your experience!</h3>
  <p>If you encounter issues, please reach us at the following channels:</p>
  <ul class="py-2 list-none">
    <li class="hyperlink">
      <a href="https://forum.audacityteam.org/c/au4/64">Audacity Forum</a>
    </li>
    <li class="hyperlink">
      <a href="https://discord.gg/audacity">Audacity Discord</a>
    </li>
    <li>
      <a href="https://github.com/audacity/audacity/issues" class="hyperlink">
        GitHub issues
      </a>
    </li>
  </ul>
</div>
