---

---

<div class="mt-6">
  <p>
    The purpose of this alpha build is to test the core features of Audacity 4
    on a wide selection of hardware and operating systems.
  </p>
  <p class="mt-2">
    Alpha 2 contains further work to bring Audacity 4 to feature parity with
    Audacity 3, as well as important bug fixes.
  </p>
  <p class="mt-2">
    If you experience severe issues or crashes, please file an issue on GitHub
    (requires a free GitHub account).
  </p>
  <ul class="py-2 list-none">
    <li>
      <a href="https://github.com/audacity/audacity/issues" class="hyperlink">
        GitHub issues
      </a>
    </li>
    <li>
      <a href="https://forum.audacityteam.org/c/au4/64" class="hyperlink">
        Audacity forum
      </a>
    </li>
    <li>
      <a href="https://discord.gg/audacity" class="hyperlink">
        Audacity Discord
      </a>
    </li>
  </ul>

  <h2 class="mt-6 text-2xl">Key areas to cover</h2>
  <ul class="list-disc mt-2 ml-6">
    <li>Recording and playback reliability</li>
    <li>Editing audio with the new clip handles and grouping</li>
    <li>Applying destructive and real-time effects</li>
    <li>Exporting audio files</li>
    <li>Saving and recalling custom Workspaces</li>
  </ul>

  <h3 class="mt-2">Compatibility reminder ⚠️</h3>
  <p class="mt-2">
    Projects saved in Audacity 4 aren't backwards compatible. Duplicate anything
    important before opening it in this build.
  </p>

  <h3 class="mt-6 text-xl">Notable changes since alpha-1</h3>
  <ul class="list-disc mt-2 ml-6 space-y-1">
    <li>
      Allow track range selection using shift enter by @embarc-gabriel in
      <a
        href="https://github.com/audacity/audacity/pull/9600"
        class="hyperlink"
      >
        https://github.com/audacity/audacity/pull/9600
      </a>
    </li>
    <li>
      Record anywhere by @grliszas14 in
      <a
        href="https://github.com/audacity/audacity/pull/9540"
        class="hyperlink"
      >
        https://github.com/audacity/audacity/pull/9540
      </a>
    </li>
    <li>
      Export loop region by @grliszas14 in
      <a
        href="https://github.com/audacity/audacity/pull/9489"
        class="hyperlink"
      >
        https://github.com/audacity/audacity/pull/9489
      </a>
    </li>
    <li>
      Paste behaviour preferences by @luapmartin in
      <a
        href="https://github.com/audacity/audacity/pull/9612"
        class="hyperlink"
      >
        https://github.com/audacity/audacity/pull/9612
      </a>
    </li>
    <li>
      Add setting to configure whether clicking on ruler should trigger playback
      by @embarc-gabriel in
      <a
        href="https://github.com/audacity/audacity/pull/9707"
        class="hyperlink"
      >
        https://github.com/audacity/audacity/pull/9707
      </a>
    </li>
    <li>
      Create loop region only when control key is pressed by @embarc-gabriel in
      <a
        href="https://github.com/audacity/audacity/pull/9712"
        class="hyperlink"
      >
        https://github.com/audacity/audacity/pull/9712
      </a>
    </li>
    <li>
      Smoother playhead by @saintmatthieu in
      <a
        href="https://github.com/audacity/audacity/pull/9613"
        class="hyperlink"
      >
        https://github.com/audacity/audacity/pull/9613
      </a>
    </li>
  </ul>

  <div>
    <h2 class="mt-4 text-2xl">Share your feedback</h2>
    <p class="mt-2">
      We're eager to hear how Alpha 2 lands for you. Please let us know what you
      think using the channels below:
    </p>
    <ul class="py-2 list-none">
      <li class="hyperlink">
        <a href="https://forum.audacityteam.org/c/au4/64">Audacity Forum</a>
      </li>
      <li class="hyperlink">
        <a href="https://discord.gg/audacity">Audacity Discord</a>
      </li>
      <li>
        <a href="https://github.com/audacity/audacity/issues" class="hyperlink">
          GitHub issues
        </a>
      </li>
    </ul>
  </div>
</div>
