---
---
<div class="mt-6">
  <p>
    The purpose of this alpha build is to test the core features of Audacity 4 on a
    wide selection of hardware and operating systems.
  </p>
  <p>
    If you experience severe issues or crashes, please file an issue on GitHub
    (requires a free GitHub account).
  </p>
  <ul class="py-2 list-none">
    <li>
      <a href="https://github.com/audacity/audacity/issues" class="hyperlink">
        Github issues
      </a>
    </li>
  </ul>

  <h2 class="mt-6 text-2xl">What's implemented</h2>

  <ul class="list-disc mt-2 ml-6">
    <li>Recording and playback</li>
    <li>Editing audio</li>
    <li>Applying effects (destructive and real-time)</li>
    <li>Exporting audio files</li>
    <li>
      Configuring and re-arranging the interface (including the new Workspaces
      feature)
    </li>
  </ul>

  <h3 class="mt-2">A note on compatibility ⚠️</h3>
  <p class="mt-2">
    Projects saved in Audacity 4 are not backwards compatible. We recommend you make
    a copy of your important projects before opening them in Audacity 4.
  </p>

  <h2 class="mt-6 text-2xl">Unimplemented features</h2>
  <p class="mt-2">
    Some yet-to-be finalized features might appear non-functional, or have been
    excluded from Audacity's interface. These are features not yet ready for user
    testing, and have been disabled.
  </p>
  <ul class="list-disc mt-2 ml-6">
    <li>Nyquist, LADSPA and VAMP and the OpenVINO plugins</li>
    <li>Preferences from Audacity 3 are not carried over</li>
    <li>Envelopes and label tracks</li>
    <li>Spectrogram view and the spectral editing mode</li>
    <li>Most built-in effects, including generators and analyzers</li>
    <li>Opening multiple projects at the same time</li>
  </ul>

  <div>
    <h2 class="mt-4 text-2xl">Submit your feedback!</h2>
    <p class="mt-2">
      We're always eager to hear what you have to say, but it's especially important
      we hear from you during this early phase. Please let us know what you think,
      using the following places:
    </p>
    <ul class="py-2 list-none">
      <li class="hyperlink">
        <a href="https://forum.audacityteam.org/c/au4/64">Audacity Forum</a>
      </li>
      <li class="hyperlink">
        <a href="https://discord.gg/audacity">Audacity Discord</a>
      </li>
      <li>
        <a href="https://github.com/audacity/audacity/issues" class="hyperlink">
          Github issues
        </a>
      </li>
    </ul>
  </div>
</div>
