---
import "../../styles/fonts.css"
---

<footer class="bg-gray-100 py-12">
  <div class="grid grid-cols-12 max-w-screen-xl mx-auto gap-y-4">
    <div class="col-start-2 col-span-10 lg:col-start-2 lg:col-span-3">
      <h4 class="signika text-gray-900 text-lg md:text-2xl font-bold">Audacity</h4>
      <p class="text-base mt-1 text-gray-700">
        Audacity is an easy-to-use, multi-track audio editor and recorder for
        Windows, macOS, GNU/Linux and other operating systems. Audacity is free,
        open source software.
      </p>
    </div>
    <div
      class="col-start-2 col-span-5 row-start-2 md:col-start-2 md:col-span-2 lg:col-start-6 lg:row-start-1"
    >
      <h4>Links</h4>
      <ul class="mt-2">
        <li><a href="/blog">Blog</a></li>
        <!-- <li>FAQ</li> -->
        <li>
          <a href="https://forum.audacityteam.org/" target="_blank">Forum</a>
        </li>
        <li>
          <a href="https://manual.audacityteam.org/" target="_blank">Manual</a>
        </li>
        <li><a href="https://audio.com/" target="_blank">Audio.com</a></li>
      </ul>
    </div>

    <div
      class="col-start-7 col-span-5 row-start-2 md:col-span-2 md:col-start-4 lg:col-start-8 lg:row-start-1"
    >
      <h4>Downloads</h4>
      <ul class="mt-2">
        <li><a href="/downloads/download-for-windows">Windows</a></li>
        <li><a href="/downloads/download-for-mac">Mac OS</a></li>
        <li><a href="/downloads/download-for-linux">Linux</a></li>
      </ul>
    </div>

    <div
      class="col-start-2 col-span-5 row-start-3 md:row-start-2 md:col-start-6 md:col-span-2 lg:col-start-10 lg:row-start-1"
    >
      <h4>Social</h4>
      <ul class="mt-2">
        <li><a href="https://www.facebook.com/Audacity/" target="_blank">Facebook</a></li>
        <li><a href="https://twitter.com/getaudacity" target="_blank">Twitter</a></li>
        <li><a href="https://github.com/audacity" target="_blank">Github</a></li>
        <li><a href="https://discord.gg/audacity" target="_blank">Discord</a></li>
        <li><a href="https://www.youtube.com/c/audacity" target="_blank">Youtube</a></li>
      </ul>
    </div>

    <div class="col-start-2 col-span-10 mt-4 lg:mt-12">
      <div class="border-t-[1px] border-gray-300 pt-4">
        <p class="copyright text-center">
          Copyright &copy; <span id="copyright"></span> | Muse Group & contributors.
          Audacity® software is licensed under the terms of the GNU General Public
          License, Version 3. Further information about the software license, distribution
          and acceptable use can be found <a
            class="underline hover:text-blue-700"
            href="https://github.com/audacity/audacity/blob/master/LICENSE.txt"
            >in the source</a
          >.
        </p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.querySelector("#copyright").textContent = new Date()
    .getFullYear()
    .toString();
</script>
