---
import SocialLinks from "./SocialLinks.astro";
---

<footer class="bg-gray-100 mt-24 xl:mt-40">
  <div
    class="max-w-md sm:max-w-xl md:max-w-4xl lg:max-w-6xl grid sm:grid-cols-8 gap-x-10 mx-auto pt-12 pb-8 px-8"
  >
    <div class="sm:col-span-3">
      <h4 class="text-gray-900 text-md font-bold">Audacity</h4>
      <p class="text-sm mt-4 text-gray-700">
        Audacity is an easy-to-use, multi-track audio editor and recorder for
        Windows, macOS, GNU/Linux and other operating systems. Audacity is free,
        open source software.
      </p>
      <div class="mt-8"><SocialLinks /></div>
    </div>
    <div class="flex flex-col sm:col-span-2 sm:col-start-5 mt-8 sm:mt-0 gap-y-2">
      <a href="">Downloads</a>
      <a href="">Download for Windows</a>
      <a href="">Download for Mac</a>
      <a href="">Download for Linux</a>
    </div>
    <div class="flex flex-col sm:col-span-2 mt-2 sm:mt-0 gap-y-2">
      <a href="">Blog</a>
      <a href="">Help</a>
      <a href="">Forum</a>
    </div>
    <div
      class="border-t-[1px] border-gray-300 mt-12 py-2 text-center pt-4 sm:col-span-8 lg"
    >
      <p class="text-sm text-gray-500">
        Copyright &copy; <span id="copyright"></span> | Muse Group & contributors.
        Audacity® software is licensed under the terms of the GNU General Public
        License, Version 3. Further information about the software license, distribution
        and acceptable use can be found on the “License” page.
      </p>
    </div>
  </div>
</footer>

<script>
  document.querySelector("#copyright").textContent = new Date()
    .getFullYear()
    .toString();
</script>

<style>
  a {
    @apply text-gray-700 hover:text-blue-500 hover:underline;
  }
</style>
