<section id="explanation" class="col-start-2 col-span-6">
    <!--these probably should be feature cards instead -->
    <h2>What to look out for</h2>
    <p>
      We are looking for feedback on our new features in this release. In
      particular:
    </p>
    <ul>
      <li>
        <b>Cloud project saving.</b> For this beta, you can save your projects
        on <a href="https://audio.com">audio.com</a>, both as a backup and
        as a method to share work-in-progress projects with others, in order
        to get their feedback.
      </li>
      <li>
        <b>Music tempo detection.</b> When <a
          href="https://support.audacityteam.org/music/enabling-music-view"
          >switching to beats and measures</a
        >, Audacity will attempt to detect the tempo of the clip, and
        attempt to get it in sync with the project.
      </li>
    </ul>
    <h2>Give us your feedback!</h2>
    <p>
      We're always eager to hear what you have to say, but it's especially
      important we hear from you during the beta phase. Please let us know
      what you think, using the following places:
    </p>
    <ul>
      <li>Forum</li>
      <li>Audacity Discord</li>
      <li>Audio.com Discord</li>
      <li>Github issues (for concrete and reproducible bugs)</li>
    </ul>
    <p>And with all that out of the way: Happy testing!</p>
  </section>