---
import FooterNEW from "../components/footer/FooterNEW.astro";
import NavigationReact from "../components/navigation/NavigationReact";
import { MatomoProvider, createInstance } from '@datapunt/matomo-tracker-react'


export interface Props {
  title: string;
}
const { title } = Astro.props;

const instance = createInstance({
  urlBase: 'test',
  siteId: 1
})
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
      <MatomoProvider value={instance}>
      <NavigationReact client:load />
      <slot />
      <FooterNEW/>
    </MatomoProvider>
    </body>


</html>
