---
import Footer from "../components/footer/Footer.astro";
import NavigationReact from "../components/navigation/NavigationReact";
import CookieConsent from "../components/banner/CookieConsent";
import "../styles/input.css";
import { ViewTransitions } from "astro:transitions";

export interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <link href="/output.css" rel="stylesheet" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="title"
      content="Audacity: Free, Open-Source Audio Editing Software"
    />
    <meta
      name="description"
      content="Audacity is a free, easy-to-use, multi-track audio editor and recorder for Windows, Mac OS X, GNU/Linux and other operating systems. Edit, mix, and enhance your audio tracks with the power of Audacity. Download now."
    />
    <meta
      name="keywords"
      content="Audacity, audio editing, audio recorder, open-source, audio software, sound editing, audio mixer"
    />

    <title>{title}</title>
    <ViewTransitions />
  </head>
  <main>
    <body class="flex flex-col h-screen">
      <a class="skip-to-content" href="#main" aria-label="Skip to content"
        >Skip to content</a
      >
      <NavigationReact client:load />
      <div class="mt-14 flex-1"><slot /></div>
      <Footer />
      <CookieConsent />

      <script src="../assets/js/matomoTracking.js"></script>
      <script src="../assets/js/cookieConsent.js"></script>
    </body>
  </main>
</html>
