---
import Footer from "../components/footer/Footer.astro";
import NavigationReact from "../components/navigation/NavigationReact";
import { MatomoProvider, createInstance } from "@datapunt/matomo-tracker-react";
import '../styles/input.css'

export interface Props {
  title: string;
}
const { title } = Astro.props;

const instance = createInstance({
  urlBase: "test",
  siteId: 1,
});

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <link href="/dist/output.css" rel="stylesheet"/>
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex flex-col h-screen">
    <MatomoProvider value={instance}>
      <NavigationReact client:load />
      <div class="mt-14 flex-1"><slot /></div>
      <Footer/>
    </MatomoProvider>
  </body>
</html>

