---
import BaseLayout from "./BaseLayout.astro";

interface Props {
  frontmatter: {
    title: string;
    slug: string;
    thumbnail: string;
    author: string;
    date: string;
    descrption: string;
  };
}

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <div class="mx-4 sm:max-w-screen-sm lg:max-w-screen-md sm:mx-auto">
    <article class="py-12 md:py-20">
      <h1>
        {frontmatter.title}
      </h1>

      <div class="mt-4">
        <p class="inline">
          {frontmatter.date} | <strong>{frontmatter.author}</strong>
        </p>
      </div>

      <div class="mt-8 md:mt-14 prose lg:prose-lg"><slot /></div>
    </article>
  </div>
</BaseLayout>
