---
import BaseLayout from "./BaseLayout.astro";

interface Props {
  frontmatter: {
    title: string;
    slug: string;
    thumbnail: string;
    author: string;
    date: string;
    descrption: string;
  };
}

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <main class="mx-auto mt-12 max-w-xl xl:max-w-2xl mb-24 xl:mb-40">
    <section class="pt-24 px-3">
      <h1 class="text-3xl font-bold">{frontmatter.title}</h1>
      <p class="text-sm">By {frontmatter.author}</p>
      <p class="text-sm">{frontmatter.date}</p>
      <div class="content">
      <slot />
    </div>
    </section>
    <section>

    </section>
  </main>
</BaseLayout>

<style is:global>
.content {
  @apply mt-8
}

 .content p {
    @apply text-gray-800;
  }

  .content h1 {
    @apply text-blue-500 text-xl font-bold mt-8;
  }

  .content figure {
    @apply my-12 text-center;
  }

  .content img {
    @apply rounded shadow-md text-center;
  }

  .content em {
    @apply text-center font-bold;
  }

  .content h5 {
    @apply text-lg font-semibold text-gray-700 mt-12;
  }

  .content li {
    @apply list-disc mt-2
  }

  .content ul{
    @apply mb-12;
  }

  .content a {
    @apply text-blue-700 underline
  }

</style>
