---
import BaseLayout from "./BaseLayout.astro";
import PageLayout from "./PageLayout.astro";

interface Props {
  frontmatter: {
    title: string;
    slug: string;
    thumbnail: string;
    author: string;
    date: string;
    descrption: string;
  };
}

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <main class="mx-auto mt-12 max-w-xl">
    <section class="pt-24 px-3">
      <h1 class="text-3xl font-bold">{frontmatter.title}</h1>
      <p class="text-sm">By {frontmatter.author}</p>
      <p class="text-sm">{frontmatter.date}</p>
      <div class="content">
      <slot />
    </div>
    </section>
  </main>
</BaseLayout>

<style is:global>
 .content p {
    @apply text-gray-800 mt-4;
  }

  .content h1 {
    @apply text-blue-500 text-xl font-bold
  }

  .content {
    @apply mt-12
  }

  .content img {
    @apply my-8 rounded shadow-md
  }
</style>
